<h1 class="hit">
  Dealer's Turn
</h1>

<div class="all_cards well">
  <div class ="center_cards">
    <div class="deck well">
      <p class="card_titles">
        Deck
      </p>
      <img class="deck" src="images/cards/card_deck.png" alt="Deck" />
    </div>
    <div class="player_cards well">
      <p class="card_titles">
        <%= session[:name] %>'s hand:
      </p>
      <% session[:player_cards].each do |card| %>
      <%= show_cards(card) %>
      <% end %>
      <p class="total_titles">
        <%= session[:name] %>'s Total: <%= player_card_value(session[:player_cards]) %>
      </p>
    </div>
    <div class="dealer_cards well">
      <p class="card_titles">
        Dealer's hand:
      </p>
      <% session[:dealer_cards].each do |card| %>
      <% if card == session[:dealer_cards][0] %>
      <img class='cards' src='images/cards/cover.jpg' />
      <% else %>
      <%= show_cards(card) %>
      <% end %>
      <% end %>
      <form action='/dealer_turn' method='post' class="navbar-form navbar-center">
        <div class="dealer_button">
          <input name="hit_or_stay" value="See Cards" type="submit" class="myButton" />
        </form>
      </div>
    </div>
  </div>
</div>