<div id="game">
	<div class="winner">
		<%= player_winner? %>
		<%= dealer_winner? %>
		<%= no_winner? %>
		<%= dealer_busted? %>
		<%= player_busted? %>
		<% if winner? %>
		<% if @new_player_intro %>
		<h1 class='hit'>Welcome <%= session[:name] %>, would you like to hit or stay?</h1>
		<%  elsif @dealer_turn_intro %>
		<h1 class='hit'>Dealer's Turn!</h1>
		<% elsif @player_next_intro %>
		<h1 class='hit'><%= session[:name] %> what would you like to do next?</h1>
		<% end %>
		<% end %>
	</div>
	<div class="all_cards well">
		<div class ="center_cards">
			<div class="deck well">
				<p class="card_titles">
					Deck
				</p>
				<%= show_deck %>
			</div>
			<div class="player_cards well">
				<p class="card_titles">
					<%= session[:name] %>'s hand:
				</p>
				<% session[:player_cards].each do |card| %>
				<%= show_cards(card) %>
				<% end %>
				<p class="total_titles"><%= session[:name] %>'s Total:
					<%= player_card_value(session[:player_cards]) %>
				</p>
				<% if  @show_player_hit_stay %>
				<form id="player_hit" action='/game/player/hit' method='post' class="navbar-form navbar-center">
					<div class="buttons">
						<input name="hit_or_stay" value="Hit" type="submit" class="myButton" />
					</div>
				</form>
				<form id="player_stay" action='/game/player/stay' method='post' class="navbar-form navbar-center">
					<div class="buttons">
						<input id="stay" name="hit_or_stay" value="Stay" type="submit" class="myButton" />
					</div>
				</form>
				<% end %>
			</div>
			<% if !winner? %>
			<div class="dealer_cards well">
				<p class="card_titles">
					Dealer's hand:
				</p>
				<% session[:dealer_cards].each do |card| %>
				<% if card == session[:dealer_cards][0] %>
				<img class='cards' src='images/cards/cover.jpg' />
				<% else %>
				<%= show_cards(card) %>
				<% end %>
				<% end %>
				<% if  @show_dealer_hit_stay %>
				<form id="dealer_hit" action='/game/dealer/hit' method='post' class="navbar-form navbar-center">
					<div class="dealer_button">
						<input name="hit_or_stay" value="See Cards" type="submit" class="myButton" />
					</div>
				</form>
				<% end %>
				<br />
			</div>
			<% end %>

			<% if winner? %>
			<div class="dealer_cards well">
            <p class="card_titles">
                Dealer's hand:&nbsp;
            </p>
            <% session[:dealer_cards].each do |card| %>
            <%= show_cards(card) %>
            <% end %>
            <p class="total_titles">
                Dealer's Total:&nbsp;
                <%= player_card_value(session[:dealer_cards]) %>
            </p>
            <br />
        </div>
			<% end %>
		</div>
	</div>
	<% if @play_again %>
			<div class="another_round">
				<h2 class="round">
					Would you like to play another round of Blackjack?
				</h2>
				<form action='/winner' method='post' class="navbar-form navbar-center">
					<div class="buttons">
						<input name="play_again" value="Yes" type="submit" class="myButton" />
						<input name="play_again" value="No" type="submit" class="myButton" />
					</div>
				</form>
			</div>
			<% end %>
</div>